.login-container {
  width: 20%;
  margin: auto;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.login-container h1{
  margin-bottom: 3rem;
}

.control-group input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.control-group input:focus {
  outline: none;
}

.form-control.invalid {
  color: red !important;
  font-size: 0.8rem;
  text-align: start;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button {
  color: white;
  background-color: #0071c2;
  font-weight: 600;
  padding: 1rem 0.8rem;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}